body > #root > div {
  height: 100vh;
}

.App {
  text-align: center;
}

.wrapper {
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}


